body {
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  overflow: scroll;
}

a {
  color: seashell;
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  z-index: 3;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  margin: auto 0;
  top: 0;
  left: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header img {
  display: flex;
  height: 50px;
  padding-left: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 10px;
}

.nav li {
  display: inline-block;
  padding: 10px;
}

h2 {
  color: seashell;
  text-align: center;
  margin: 15px auto;
}

h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  text-align: center;
}

.statement {
  background-color: black;
  width: 1200px;
}

#mission {
  display: flex;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  width: 1200px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.content {
  display: flex;
  padding-top: 100px;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.menu img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

#tea-month {
  width: 1000px;
  margin: 0 auto;
}

.title {
  margin-top: 65px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.caption {
  text-align: center;
  display: flex;
  color: seashell;
  font-size: 22px;
  font-weight: bold;
  width: 300px;
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-content: space-around;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 65px auto 0;
}

.address-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 980px;
  margin: 0 auto;
}

.address {
  display: flex;
  height: 300px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 1;
}

.footer {
  height: 200px;
  margin: 0 auto;
  padding-top: 50px;
}

h5 {
  text-align: center;
}

.copyright p {
  text-align: left;
  padding-left: 20px;
}
